{{require "layouts/foundation"}}
{{#extend "layouts/foundation"}}

	{{#append "head"}}
		<link rel="stylesheet" href="/assets/css/pages/login.css" />
	{{/append}}

	{{#content "body"}}
		<form action="/login" method="post" role="form" data-component="login" class="container">
			<div class="form-horizontal">
				{{#if messages}}<ul class="form-group messages">{{#messages}}<li class="alert alert-danger">{{this}}</li>{{/messages}}</ul>{{/if}}
				<div class="form-group">
					<label class="col-sm-3 control-label">Email Address</label>
					<div class="col-sm-9"><input type="email" class="form-control" name="email"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Password</label>
					<div class="col-sm-9"><input type="password" class="form-control" name="password"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-7"><div class="checkbox"><label><input type="checkbox" name="remember"> Remember Me</label></div></div>
					<div class="col-sm-2"><input type="submit" value="Sign In" class="btn btn-primary pull-right"></div>
				</div>
			</div>
		</form>
	{{/content}}

{{/extend}}
