{{require "layouts/foundation"}}
{{require "assets/components/featuredLists/prerender"}}
{{require "assets/components/songbar/prerender"}}
{{require "assets/components/tracklist/prerender"}}
{{require "assets/components/dialog/flag/prerender"}}
{{require "assets/components/visitor/prerender"}}
{{option 'needPlayer' true}}
{{#extend "layouts/foundation"}}
	{{#append "head"}}
		<link rel="stylesheet" href="/assets/css/pages/index.css" />
		{{> assets/components/visitor/prerender}}
	{{/append}}

	{{#content "body"}}
	<div id="splitview"{{#if track}} class="songbar-open"{{/if}}>
		<div id="songbar">{{> assets/components/songbar/prerender}}</div>
		<div id="listview">
			{{#if featuredLists}}{{> assets/components/featuredLists/prerender}}{{/if}}
			{{> assets/components/tracklist/prerender}}
		</div>
	</div>
	{{> assets/components/dialog/flag/prerender}}
	{{/content}}

	{{#append "postscripts"}}
		<script src="/assets/rjs/index.js"></script>
		<script>
			require(['lodash', 'soundcloud', 'soundmanager2', 'handlebars', 'helpers', 'js/lib/facetizer'], function (_, soundcloud, soundmanager, handlebars, helpers) {
				soundcloud.initialize({
					client_id: "{{soundcloudKey}}",
					redirect_uri: "{{httproot}}/soundcloud-callback",
				});

				soundmanager.setup({
					url: '/assets/vendor/soundmanager2/swf/',
					debugMode: false,
					preferFlash: false,
					useHighPerformance: true,
					flashVersion: 9,
					ontimeout: function() {
						console.warn('SM2 init failed!');
					},
				});
				soundmanager.beginDelayedInit();
				window.soundManager = soundmanager;

				_.each(helpers, function (helper, name) {
					handlebars.registerHelper(name, helper(handlebars));
				});
			});
		</script>
	{{/append}}

{{/extend}}
