html {
	min-width: 100%;
	min-height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	background-image: @body-bg-img;
	background-attachment: fixed;
}

h1,h2,h3,h4 {
	margin-top: 0;
}

header {
	margin: 0;
	padding: 0;
	z-index: 1;
	overflow: hidden;
	#navbar > .background;

	& + .filler {
		height: 49px;
	}

	.navbar {
		margin: 0;
		.border-bottom-radius(0);
		border-bottom: 1px solid rgba(255,255,255,0.75);
		height: 53px;
	}

	a.sitelogo {
		float: left;
		font-size: 32px;
		text-decoration: none;
		color: white;
		text-shadow: 0 1px 2px rgba(0,0,0,.5);
		margin-left: 10px;

		&:hover {
			color: #ddd;
		}
		
		span {
			font-size: 22px;
			font-family: impact, 'HelveticaNeue-CondensedBlack', sans-serif;
			text-transform: uppercase;
			display: inline-block;
		}

		span:first-letter {
			font-size: 28px;
		}

		i.mashlicon {
			font-size: 32px;
		}
	}


	.social {
		width: 20px;
		float: left;
		margin-left: 8px;
		margin-right: 5px;
		margin-top: 6px;

		a {
			font-size: 16px;
			color: white;
			text-shadow: 0 1px 2px rgba(0,0,0,.5);
			text-decoration: none;

			&:hover {
				color: #ddd;
			}
		}
	}
}

footer {
	z-index: 3;
	position: relative;

	.navbar {
		font-size: 10px;
		margin: 0;
		
		.powered {
			margin: 11px;
			margin-left: 20px;
		}
	}

}

.main-body {
	background: white;
}

.label {
	border-radius: .35em;

	&.label-inverted {
		color: #000;

		&.label-default {
			.label-variant-inverted(@label-default-bg);
			color: #555;

			&[href] {
				&:hover,
				&:focus {
					color: #333;
				}
			}
		}

		&.label-primary {
			.label-variant-inverted(@label-primary-bg);
		}

		&.label-success {
			.label-variant-inverted(@label-success-bg);
		}

		&.label-info {
			.label-variant-inverted(@label-info-bg);
		}

		&.label-warning {
			.label-variant-inverted(@label-warning-bg);
		}

		&.label-danger {
			.label-variant-inverted(@label-danger-bg);
		}

	}
}


.application-error {
	padding: 1px 10px 10px;
	font: 13px "Helvetica Neue", "Lucida Grande", "Arial";
	background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
	background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
	background-repeat: no-repeat;
	color: #555;

	h1, h2, h3 {
		font-size: 22px;
		color: #343434;
	}

	h1 em, h2 em {
		padding: 0 5px;
		font-weight: normal;
	}

	h1 {
		font-size: 60px;
	}
	h2 {
		margin-top: 10px;
	}

	ul li {
		list-style: none;
	}
	ul li:hover {
		color: #2e2e2e;
	}
	ul li .path {
		padding-left: 5px;
		font-weight: bold;
	}
	ul li .line {
		padding-right: 5px;
		font-style: italic;
	}
	ul li:first-child .path {
		padding-left: 0;
	}

	#stacktrace {
		margin-top: 15px;
	}
}

.mashlicon-spin {
	-webkit-animation: mashlicon-spin 2s infinite linear;
	-moz-animation: mashlicon-spin 2s infinite linear;
	-o-animation: smashlicon-pin 2s infinite linear;
	animation: mashlicon-spin 2s infinite linear;
}

&, .btn, .nav-tabs {
	[class^="mashlicon-"], [class*=" mashlicon-"] {
		&.mashlicon-spin {
			line-height: 1;
			margin: 0;
			width: 16px;
			height: 16px;
			font-size: 16px;
			top: 2px;
			position: relative;
		}
	}
}

@-moz-keyframes mashlicon-spin {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes mashlicon-spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes mashlicon-spin {
	0% { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes mashlicon-spin {
	0% { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(359deg); }
}
@keyframes mashlicon-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(359deg); }
}


.spinner {
	display: inline-block;
	opacity: 0;
	width: 0;

	.transition(~'opacity 0.25s, width 0.25s, padding 0.25s');

	.mashlicon {
		display: inline-block;
	}
}

.has-spinner {
	cursor:progress;

	&.left {
		padding-right: 5px;
	}

	.spinner.right {
		padding-left: 5px;
	}

}

.has-spinner .spinner {
	opacity: 1;
}

.has-spinner.btn-mini .spinner {
    width: 10px;
}

.has-spinner.btn-small .spinner {
    width: 13px;
}

.has-spinner.btn .spinner, .spinner.active {
	width: 16px;
}

.has-spinner.btn-large .spinner {
    width: 19px;
}