html {
	min-width: 100%;
	min-height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	background-image: @body-bg-img;
	background-attachment: fixed;
}

h1,h2,h3,h4 {
	margin-top: 0;
}

.mask.bottom {
	.container;
	background-color: @body-bg;
	background-image: @body-bg-img;
	background-attachment: fixed;
	height: 50px;
	position: relative;
	margin-top: -50px;
	z-index: 2;
}

header.container {
	margin: 0;
	padding: 4px 0 0 0;
	z-index: 1;
	top: 0px;
	position: fixed;
	background-color: @body-bg;
	background-image: @body-bg-img;
	background-attachment: fixed;
	overflow: hidden;

	& + .filler {
		height: 110px;
	}

	.navbar {
		margin: 0;
		.border-bottom-radius(0);
		border-bottom: 1px solid rgba(255,255,255,0.75);
		height: 53px;
	}

	.header-links {
		overflow: hidden;

		a {
			font-size: 32px;
			text-decoration: none;
			color: white;
			text-shadow: 0 1px 2px rgba(0,0,0,.5);

			&:hover {
				color: #eee;
			}
		}

		a.pull-right {
			margin-right: 15px;
			margin-top: 13px;
		}

		a.sitelogo {
			
			span {
				font-size: 27px;
				font-family: impact;
				text-transform: uppercase;
				display: inline-block;
			}

			span:first-letter {
				font-size: 34px;
			}

			i.mashlicon {
				font-size: 46px;
			}
		}
	}
}

footer {
	z-index: 3;
	position: relative;

	.navbar {
		.border-top-radius(0);
		font-size: 10px;
		
		.powered {
			margin: 11px;
		}
	}
}

body > .container {
	padding: 0;
}

.main-body {
	background: white;
}

.label {
	border-radius: .35em;

	&.label-inverted {

		&.label-default {
			.label-variant-inverted(@label-default-bg);
			color: #555;

			&[href] {
				&:hover,
				&:focus {
					color: #333;
				}
			}
		}

		&.label-primary {
			.label-variant-inverted(@label-primary-bg);
		}

		&.label-success {
			.label-variant-inverted(@label-success-bg);
		}

		&.label-info {
			.label-variant-inverted(@label-info-bg);
		}

		&.label-warning {
			.label-variant-inverted(@label-warning-bg);
		}

		&.label-danger {
			.label-variant-inverted(@label-danger-bg);
		}

	}
}


.application-error {
	padding: 1px 10px 10px;
	font: 13px "Helvetica Neue", "Lucida Grande", "Arial";
	background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
	background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
	background-repeat: no-repeat;
	color: #555;

	h1, h2, h3 {
		font-size: 22px;
		color: #343434;
	}

	h1 em, h2 em {
		padding: 0 5px;
		font-weight: normal;
	}

	h1 {
		font-size: 60px;
	}
	h2 {
		margin-top: 10px;
	}

	ul li {
		list-style: none;
	}
	ul li:hover {
		color: #2e2e2e;
	}
	ul li .path {
		padding-left: 5px;
		font-weight: bold;
	}
	ul li .line {
		padding-right: 5px;
		font-style: italic;
	}
	ul li:first-child .path {
		padding-left: 0;
	}

	#stacktrace {
		margin-top: 15px;
	}
}

.pager {
	margin: 0;
	padding: 4px 10px;
	font-weight: 600;
	background-color: #333;
	color: white;
	font-size: 12px;

	.location {
		display: inline-block;
	}

	span a, .location {
		text-decoration: none;
		
		padding: 4px 5px 3px;
		border-radius: 3px;

		&[href] {
			border: 1px solid #333;
			color: #ccc;

			&:hover {
				background:#444;
				border-color: #3f3f3f;
				color: white;
				text-shadow: 0 1px 3px rgba(0,0,0,0.9);
				box-shadow: 0 1px 2px rgba(0,0,0,0.7) inset;

				&:active {
					padding-top: 5px;
					padding-bottom: 2px;
					text-shadow: 0 0 1px rgba(0,0,0,0.7);
					
				}
			}
		}
	}

	.previous a {
		margin-right: 20px;
	}

	.next a {
		margin-left: 20px;
	}

	.omit {
		visibility: hidden;
	}
}