@import "../assets/vendor/bootstrap/less/variables.less";
// @import "../assets/vendor/font-awesome/less/variables";

// @fa-font-path: '/assets/vendor/font-awesome/fonts';
@icon-font-path: '/assets/vendor/bootstrap/dist/fonts/';

// Bootstrap Overrides
@body-bg: #365971;
@body-bg-img: url('/assets/images/bg-texture.png');
@font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;

@songbar-width: 280px;

@vote-up-color: #439915;
@vote-down-color: #F44469;

